@import "../../resources/GlobalScssVariables";

body {
    background-color: $themeWhite;
    color: $themeDarkBlue;
}

h1 {
    font-family: 'Nunito', sans-serif;
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
}

img {
    height: auto;
    max-width: 100%;
}

.container {
    max-width: 99%;
    padding-left: 3%;
    padding-right: 3%;
}

.row {
    margin: 5%;
}

.center {
    align-content: center;
    justify-content:center;
    align-items:center;
    padding: 2%;
}

.card-body {
    background-color: $themeLightBlue;
}

.card-text {
    text-align: left;
    text-indent: 3em;
}

.bmb-sunset {
    height: auto;
    max-width: 90%;
    margin: 1em;
}

iframe {
    margin: 1em;
}